body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FCF8E8;
  color: #000;
}

.navbar-laravel {
  background-color: #993333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #fff !important;
  background-color: #993333;
}

.nav-link {
  color: #fff !important;
  background-color: #993333;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  background-color: #000;
}

.login-box {
  background-color: #993333;
}

.login-header {
  background-color: #993333;
  color: #fff;
}

.login-body {
  background-color: #fff;
}

.navbar-sns {
  background-color: #993333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.footer {
  background-color: #993333;
  margin-right: auto;
  margin-left: auto;
}

.copyright {
  color: #FFF;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  border-color: #DF7861;
  color: #FFF;
  text-align: center;
  font-size: 5px;
  font-weight: 700;
  background-color: #ECB390;
  box-shadow: 0 5px 0 #aaaaaa;
  transition: 0.3s;
}

.btn::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
  transform: rotate(45deg);
}

.btn:hover {
  transform: translateY(3px);
  text-decoration: none;
  box-shadow: 0 2px 0 #aaaaaa;
}

